[user]
  name = robert_aldrich
  email = robbielaldrich@gmail.com
[core]
  excludesFile = ~/.gitignore
  editor = vim
[alias]
  up = push -u origin HEAD
  pu = push
  cb = checkout -b 
  s = status
  pb = pull --rebase --prune
  co = checkout
  cm = commit
  ss = stash save
[init]
  defaultBranch = main
